python/
node/
node_modules/
/models/
**/__pycache__/
cache/
temp/
downloads/
ffmpeg/
app/data/*.db
app/data/*.db-journal
app/server/data/*.db
app/server/data/*.db-journal
app/server/public/audio/
app/server/tmp/
app/dist/
tools/
app/node_modules/
app/server/node_modules/
*.db
cuda_version.txt
